* {
    font-family: Verdana;
}

.chart {
    position: relative;
    display: inline-block;
}

#bar-chart {
    width: 500px;
    height: 550px;

}

.date {
    opacity: 0;
    transition: all .25s;
}


.date rect {
    fill: rgba(255, 255, 255, 0.2);
}

.date text {

}


.title {
    font-size: 20px;
    text-anchor: middle;
    fill: #B7B9BC;
}

.axis path {
    stroke: #494E54;
}

.bar {
    fill: #00DEDD
}

.hint,
.hint-plot {
    position: absolute;
    height: 35px;
    line-height: 35px;
    background-color: #383E44;
    border-radius: 2px;
    text-align: center;
    color: #F5F6F7;
    box-shadow:
            0 -3px 5px 1px rgba(0, 0, 0, 0.5),
            0 7px 5px 1px rgba(0, 0, 0, 0.5);
}

.hint-plot {
    height: 55px;
    line-height: 25px;
    display: none;
    opacity: 0;
}

.corner {
    position: absolute;
    background-color: #383E44;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    top: 25px;
}

.hint-plot .corner {
    top: 45px;
}

.value {
    font-weight: bold;
}

.point-date {
    font-size: 10px;
    color: #707379;
}

.tick line {
    stroke: #494E54;
    stroke-width: 2
}

.tick text {
    font-size: 12px;
    fill: #B7B9BC;
    stroke: none;
}

#radar-chart {
    width: 650px;
    height: 500px;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
}

.background {
    fill: #383E44;
}

.thread {
    fill: transparent;
    stroke: #494E54;
}

.thread-radial {
    stroke: #494E54;
}

.tick {
    text-anchor: end;
    font-size: 18px;
    fill: white;
    stroke: white;
}

.graph path {
    stroke-width: 2;
    fill-opacity: 0;
}

.graph:hover path {
    fill-opacity: .35;
}

.label { fill: #B7B9BC }

#legend {
    position: absolute;
    bottom: 20px;
    right: 15px;
    border: 1px solid white;
    background-color: #adadad;
    cursor: default;
}

#legend tr { height: auto; }

.line {
    width: 50px;
    text-align: center;
}

.line hr {
    width: 90%;
}

.name {
    width: 100px;
    color: white;
}