/* for all */

* {  font-family: Verdana }

.chart {
    position: relative;
    display: inline-block;
}

.background { fill: #383E44 }

.title {
    font-size: 24px;
    text-anchor: middle;
    fill: #B7B9BC;
}

.tick,
.thread,
.thread-radial {
    text-anchor: end;
    font-size: 18px;
    fill: none;
    stroke: #494E54;
}

.tick line {
    stroke: #494E54;
    stroke-width: 2
}

.tick text {
    font-size: 12px;
    fill: #B7B9BC;
    stroke: none;
}

.value { font-weight: bold }

.label { fill: #B7B9BC }

.axis path { stroke: #494E54 }

/* for donut and halfdonut */

.center-val,
.center-label{ text-anchor: middle }

.center-val {
    fill: white;
    font-weight: bold;
    font-size: 30px;
    dominant-baseline: text-top;
}
#half-donut-chart .center-val { font-size: 48px }

.center-label {
    fill: #B7B9BC;
    font-size: 20px;
    dominant-baseline: hanging;
}

.section { transition: all .5s }
#donut-chart .section:hover,
#donut-chart .section.hover{ transform: scale(1.1) }

.label-donut { opacity: 0 }
.section:hover .label-donut,
.section.hover .label-donut{
    opacity: 1;
    transition: all .5s;
}

/* for plot and barchart */

.hint,
.hint-plot {
    position: absolute;
    height: 35px;
    line-height: 35px;
    background-color: #383E44;
    border-radius: 2px;
    text-align: center;
    color: #F5F6F7;
    box-shadow:
            0 -3px 5px 1px rgba(0, 0, 0, 0.5),
            0 7px 5px 1px rgba(0, 0, 0, 0.5);
}

.hint-plot {
    height: 55px;
    line-height: 25px;
    display: none;
    opacity: 0;
}

.corner {
    position: absolute;
    background-color: #383E44;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    top: 25px;
}
.hint-plot .corner { top: 45px }

.point-date {
    font-size: 10px;
    color: #707379;
}

/* for donut */

#donut-legend {
    position: absolute;
    width: 120px;
    bottom: 20px;
    right: 10px;
    text-align: center;
}

#donut-legend hr {
    width: 80%;
    color: #B7B9BC;
}

#donut-legend > div {
    width: 100%;
    height: auto;
}

#donut-legend > div:last-child hr { display: none }

.marker {
    float: left;
    margin: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}

.legend-val {
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.legend-label {
    margin-left: 30px;
    color: #B7B9BC;
    text-align: center;
}

/* for barchart */

.bar { fill: #00DEDD }

/* for radar */

.scale {
    text-anchor: end;
    font-size: 16px;
    fill: #B7B9BC;
    stroke: none;
}

.graph path {
    stroke-width: 2;
    fill-opacity: 0;
}

.graph:hover path {
    fill-opacity: .35;
}

#legend {
    position: absolute;
    bottom: 20px;
    right: 15px;
    border: 1px solid white;
    background-color: #adadad;
    cursor: default;
}

#legend tr { height: auto; }

.line {
    width: 50px;
    text-align: center;
}

.line hr {
    width: 90%;
}

.name {
    width: 100px;
    color: white;
}

/* for plot */

.date-rect {
    opacity: 0;
    fill: rgba(255, 255, 255, 0.2);
    transition: all .25s;
}



